html {
  box-sizing: border-box;
  background-image: url(../img/фон.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

/*Header styles start*/
.header {
  margin-top: 50px;
  left: 0;
  width: 100%;
}

body {
  font-family: TT Travels;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}

.header_list {
  display: flex;
}

.header__logo-lik {
  text-align: center;
}

.left-item {
  flex-shrink: 0;
}

.right-item {
  flex-shrink: 0;
}

.header__logo-lik {
  flex-grow: 0;
}

.header_list a {
  width: 100%;
  text-decoration: none;
  line-height: 89px;
  padding: 0 20px;
  font-size: 14px;
  font-family: TT Travels;
  color: white;
}

@media (max-width: 830px) {
  .header_list {
    padding-top: 90px;
    text-align: center;
  }

  .header__logo-lik {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }

  .header_list li {
    float: none;
    display: inline-block;
  }

  .header_list a {
    line-height: normal;
    padding: 20px 60px;
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  .header_list li {
    display: block;
  }
}



.header_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 89%;
  color: white;
  text-decoration: none;
  letter-spacing: -0.025em;
}


/*Header styles end*/
/*Intro styles start*/


/*Intro styles end*/

.main {
  margin-top: 68px;
}

.NFT {
  text-align: center;
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 89%;
  letter-spacing: -0.025em;
  color: white;
  margin-bottom: 40px;
}

.Market {
  font-family: 'TT Travels';
  font-style: italic;
  font-weight: 600;
  font-size: 120px;
  line-height: 89%;
  letter-spacing: -0.025em;
  color: white;
  padding-left: 92px;
}

.hread {
  color: #03FFE1;
  max-width: 649px;
  max-height: 76px;
  font-size: 16px;
  font-weight: medium;
  margin-left: 36px;
}

.button1 {
  font-size: 20px;
  border-color: #13131300;
  width: fit-content;
  padding: 20px 29px 26px 29px;
  gap: 10px;
  background: #FCD400;
  border-radius: 100px;
  width: 184px;
  height: 70px;
  margin-left: 92px;
}

.button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 20px 49px;
  gap: 10px;
  color: #03FFE1;
  width: 184px;
  height: 70px;
  left: 320px;
  top: 491px;
  background: #ffffff00;
  border: 1px solid #03FFE1;
  border-radius: 100px;
  font-size: 20px;
  margin-left: 31px;
}

.button-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.pic1 {
  margin-left: 92px;
  ,t
}

.picture {
  display: flex;
  
}
/* 
.picture {
  position: absolute;
  top: 745px;
}

.pic1 {
  position: absolute;
  left: 92px;
}

.pic2 {
  position: absolute;
  left: 517px;
}

.pic3 {
  position: absolute;
  left: 925px;
}

.plug{
  position: absolute;
  top: 926px;
}
.plug1{
  position: absolute;
  left: 233px;
}
.plug2{
  position: absolute;
  left: 667px;
}
.plug3{
  position: absolute;
  left: 1091px;
} */